@media print {
    .noprint {
        display: none;
    }
    .print {
        display: block;
    }
}

.page {
    width: 215.9mm;
    height: 279mm;
    margin: auto;
    page-break-after: always;
    page-break-before: always;
}

.pageshow {
    width: 215.9mm;
    max-height: 278mm;
    margin: auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    page-break-after: always;
    page-break-before: always;
}

@page {
    size: Letter;
    margin: 0;
}